{% extends "inc/base.html" %}


{% block titulo %}Usuário{% endblock %}

{% block conteudo %}

<table border="1">
<tr>
<th>Nome</th>
<th>Adimin</th>
<th>Ativo</th>
</tr>
{% for usr in user %}
        <!-- Linha para repetição -->
        <tr>
            <td><a href="/usuario_ver/{{usr.id}}">{{ usr.username }}</td>
            <td>{{ usr.admin }}</td>
            <td>{{ usr.ativo }}</td>
            <td><a href="/usuario_apagar/{{usr.id}}">Apagar</a></td>
        </tr>
        <!-- Linha para repetição -->
        {% else %}
      
        {% endfor %}
</table>


<a href="logout.php">Saida</a>

{% endblock %}